sqlalchemy
aiosqlite
autoevals
chardet
datasets
fastapi
fire
garak==0.12.0
httpx
kubernetes
llama_stack_provider_lmeval==0.1.7
llama_stack_provider_trustyai_fms==0.1.4
llama_stack_provider_trustyai_garak==0.1.1
matplotlib
mcp>=1.8.1
nltk
numpy
openai
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
pandas
pillow
psycopg2-binary
pymilvus
pymongo
pypdf
redis
requests
scikit-learn
scipy
sentencepiece
sqlalchemy[asyncio]
tqdm
transformers
uvicorn
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
llama-stack==0.2.16
